<div>
  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">ConfigUtil</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="machines" class="nav-link">MachineList</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="addmachine" class="nav-link">AddMachine</a>
      </li>
    </div>
  </nav> -->
  <app-header></app-header>

    <router-outlet></router-outlet>

</div>
